In [1]:
!pip install ipython-sql
%load_ext sql
!pip install ipython-sql prettytable
import prettytable
prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: ipython-sql in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
import csv, sqlite3

con = sqlite3.connect("SQLiteMagic.db")
cur = con.cursor()

In [3]:
#Use magic to create a database named SQLiteMagic
%sql sqlite:///SQLiteMagic.db

## You can't use '#' in '%%sql' cells bc sql doesn't treat '#' like Python does!

In [4]:
%%sql
DROP TABLE IF EXISTS international_student_test_scores;
CREATE TABLE international_student_test_scores (
    country VARCHAR(50),
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    test_score INT
);
INSERT INTO international_student_test_scores (country, first_name, last_name, test_score) VALUES
('usa', 'Bill', 'Reeder', 18),
('canada', 'Naomi', 'Dean', 23),
('sweden', 'Ari', 'Comstock', 27),
('thailand', 'David', 'Everett', 23),
('poland', 'Ariel', 'Everstorm', 23),
('france', 'Brooke', 'Winters', 23);

 * sqlite:///SQLiteMagic.db
Done.
Done.
6 rows affected.

[]

In [5]:
# A lot of magic will rely on prettytable, so you might as well just:

!pip install ipython-sql prettytable
import prettytable
prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [6]:
%%sql

SELECT * FROM international_student_test_scores

 * sqlite:///SQLiteMagic.db
Done.

[('usa', 'Bill', 'Reeder', 18),
 ('canada', 'Naomi', 'Dean', 23),
 ('sweden', 'Ari', 'Comstock', 27),
 ('thailand', 'David', 'Everett', 23),
 ('poland', 'Ariel', 'Everstorm', 23),
 ('france', 'Brooke', 'Winters', 23)]

In [7]:
import sqlite3
import pandas as pd

# Connect using the standard DB-API
conn = sqlite3.connect("SQLiteMagic.db")

# Read data into a pandas DataFrame (this is the recommended way anyway for analysis)
try:
    df_check = pd.read_sql("SELECT * FROM international_student_test_scores", conn)
    print("Successfully read data using pandas and sqlite3:")
    print(df_check)
    print(df_check.info())
except Exception as e:
    print(f"Error reading with pandas: {e}")
finally:
    conn.close() # Always close the connection

Successfully read data using pandas and sqlite3:
    country first_name  last_name  test_score
0       usa       Bill     Reeder          18
1    canada      Naomi       Dean          23
2    sweden        Ari   Comstock          27
3  thailand      David    Everett          23
4    poland      Ariel  Everstorm          23
5    france     Brooke    Winters          23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     6 non-null      object
 1   first_name  6 non-null      object
 2   last_name   6 non-null      object
 3   test_score  6 non-null      int64
dtypes: int64(1), object(3)
memory usage: 324.0+ bytes
None

In [8]:
%sql SELECT * FROM international_student_test_scores

 * sqlite:///SQLiteMagic.db
Done.

[('usa', 'Bill', 'Reeder', 18),
 ('canada', 'Naomi', 'Dean', 23),
 ('sweden', 'Ari', 'Comstock', 27),
 ('thailand', 'David', 'Everett', 23),
 ('poland', 'Ariel', 'Everstorm', 23),
 ('france', 'Brooke', 'Winters', 23)]

In [9]:
%sql select*from international_student_test_scores limit 2 offset 2;

 * sqlite:///SQLiteMagic.db
Done.

[('sweden', 'Ari', 'Comstock', 27), ('thailand', 'David', 'Everett', 23)]

In [10]:
%sql select distinct test_score from international_student_test_scores;

 * sqlite:///SQLiteMagic.db
Done.

[(18,), (23,), (27,)]

In [11]:
%sql select count(test_score) from international_student_test_scores;

 * sqlite:///SQLiteMagic.db
Done.

[(6,)]

In [12]:
%sql select test_score, count(*) from international_student_test_scores group by test_score;

 * sqlite:///SQLiteMagic.db
Done.

[(18, 1), (23, 4), (27, 1)]

In [13]:
%sql select count(*), avg(test_score) from international_student_test_scores group by test_score;

 * sqlite:///SQLiteMagic.db
Done.

[(1, 18.0), (4, 23.0), (1, 27.0)]

In [14]:
# Integrating python to make things easier
# Add ':' prefix to python variable names

country = 'canada'
%sql select*from international_student_test_scores where country = :country

 * sqlite:///SQLiteMagic.db
Done.

[('canada', 'Naomi', 'Dean', 23)]

In [15]:
distribution = %sql SELECT test_score as "Test_Score", count(*) as "Frequency" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score;
distribution

 * sqlite:///SQLiteMagic.db
Done.

[(18, 1), (23, 4), (27, 1)]

## Convert sql query to pandas dataframe

In [ ]:
!pip uninstall seaborn

In [ ]:
!pip install seaborn
!pip install matplotlib
dataframe = distribution.DataFrame()

import seaborn

plot = seaborn.barplot(x='Test_Score',y='Frequency', data=dataframe)